.root-wrapper {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.border-class {
  height: 100%; /* Full height of the wrapper */
  width: 100%; /* Full width of the wrapper */
  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional shadow for visual depth */

}




